.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.box {
  width: 900px;
  border: 2px double black;
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 300px;
  text-align: center;
  border: 1px solid black;
}

.active {
  color: green;
}

.no {
  background-color: red;
}